
<div class="card row mb" style="width: 18rem;">
  <img src="{{list.thumbnail.path}}.{{list.thumbnail.extension}}" class="card-img-top" alt="{{list.name}}"  >
  <div class="card-body">
    <h5 class="card-title text-center"> {{list.name}}</h5>
   <!-- Button trigger modal -->



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{list.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{list.thumbnail.path}}.{{list.thumbnail.extension}}

      </div>
        </div>
  </div>
</div>

</div>
</div>
