<nav id = "navbar1" class="navbar navbar-expand-lg " style="background-color: #ea080812;">
  <a id="title1" class="navbar-brand" href="#">MarvelApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
