
<form [formGroup]= "loginForm" (ngSubmit)="onSubmit()">
<div class="form-group">
<label for="email">Email</label>
<input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
<div *ngIf="f.email.errors.required">El email es requerido</div>
</div>
</div>
<div class="form-group">
<label for="password">Contraseña</label>
<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
<div *ngIf="f.password.errors.required">La contraseña es requerida</div>
</div>
</div>
<div class="form-group">
<button [disabled]="loading" class="btn btn-primary">Entrar</button>
<a routerLink="/register" class="btn btn-link">Registro</a>
    </div>
</form>
