<div class="container-fluid menu1" >
  <app-nav></app-nav>
   <div class="row">
    <div id ="section1" class="col-6">
    <app-card  *ngFor = "let list of characters" [list] = "list"> </app-card>
    </div>
    <div id ="section2" class="col-6">
      <app-tabs *ngFor = "let list1 of characters" [list1] = "list1"></app-tabs>
    </div>
  </div>
</div>
