<p-tabView>
  <p-tabPanel header="Búsqueda">
    <h3 class="first">Búsqueda de SuperHeroes</h3>
    <div class="input-group mb-3">
      <input type="text" id= "name" class="form-control" placeholder="Introduzca el nombre del SuperHeroe"  aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="buscar();">Buscar</button>
      </div>
    </div>
    <div class= busqueda>


      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Save</button>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Heroes">
      <p-table [value]="list1">
          <ng-template pTemplate="header">
              <tr>
                  <th>Foto</th>
                  <th >SuperHeroe</th>
                  <th>Info</th>
                  <th >Accion</th>
              </tr>

          </ng-template>
          <ng-template pTemplate="body" let-heroe>
              <tr>
                  <td>{{list1.brand}}</td>
                  <td>{{list1.name}}</td>
                  <td>{{list1.description}}</td>

              </tr>
          </ng-template>
            </p-table>

  </p-tabPanel>

</p-tabView>





